@import 'src/styles/colors';

:local(.message) {
  font-size: 18px;
  font-weight: 500;
  text-align: center;
  margin-top: 22px;
  margin-bottom: 74px;
}

:local(.loading) {
  height: 40px;
  width: 40px;
  color: $vibrant-blue;
  position: sticky;
  border: 3px solid;
  border-radius: 50%;
  border-top-color: transparent;
  animation: rotate 0.7s linear infinite;
  margin-right: 20px;
}

@keyframes rotate {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}

.rectangle {
  display: flex;
  align-items: center;
  padding: 16px;
  border-radius: 8px;
  border: solid 1px $very-light-blue;
  background-color: #ffffff;
}

.ledgerMenu {
  justify-content: space-between;
}

.subText {
  font-size: 14px;
  color: $battleship-grey;
  margin-bottom: 0;
  text-align: left;
}

.errorBox {
  border: solid 1px #db2f2f;
  color: #db2f2f;
}

.tryBox {
  padding: 10px;
  font-size: 12px;
  background-color: $very-light-blue;
  border-radius: 8px;
  margin-left: 5px;
  cursor: pointer;
}
