@import 'src/styles/colors';

:local(.value) {
  font-size: 24px;
  color: $black;
}

:local(.crypto) {
  color: $battleship-grey;
  font-size: 18px;

  :local(.web) {
    font-size: 14px;
  }

  img {
    width: 20px;
    height: 20px;
    margin-right: 4px;
  }
}

:local(.box) {
  padding: 16px 16px 12px 16px;
  border: 1px solid $very-light-blue;
  border-radius: 8px;
  margin-top: 30px;
}
