/* inter-100 - latin */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 100;
  src: url('~src/assets/fonts/Inter/inter-v1-latin-100.eot'); /* IE9 Compat Modes */
  src: local(''),
  url('~src/assets/fonts/Inter/inter-v1-latin-100.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('~src/assets/fonts/Inter/inter-v1-latin-100.woff2') format('woff2'), /* Super Modern Browsers */
  url('~src/assets/fonts/Inter/inter-v1-latin-100.woff') format('woff'), /* Modern Browsers */
  url('~src/assets/fonts/Inter/inter-v1-latin-100.ttf') format('truetype'), /* Safari, Android, iOS */
  url('~src/assets/fonts/Inter/inter-v1-latin-100.svg#Inter') format('svg'); /* Legacy iOS */
}
/* inter-200 - latin */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 200;
  src: url('~src/assets/fonts/Inter/inter-v1-latin-200.eot'); /* IE9 Compat Modes */
  src: local(''),
  url('~src/assets/fonts/Inter/inter-v1-latin-200.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('~src/assets/fonts/Inter/inter-v1-latin-200.woff2') format('woff2'), /* Super Modern Browsers */
  url('~src/assets/fonts/Inter/inter-v1-latin-200.woff') format('woff'), /* Modern Browsers */
  url('~src/assets/fonts/Inter/inter-v1-latin-200.ttf') format('truetype'), /* Safari, Android, iOS */
  url('~src/assets/fonts/Inter/inter-v1-latin-200.svg#Inter') format('svg'); /* Legacy iOS */
}
/* inter-300 - latin */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 300;
  src: url('~src/assets/fonts/Inter/inter-v1-latin-300.eot'); /* IE9 Compat Modes */
  src: local(''),
  url('~src/assets/fonts/Inter/inter-v1-latin-300.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('~src/assets/fonts/Inter/inter-v1-latin-300.woff2') format('woff2'), /* Super Modern Browsers */
  url('~src/assets/fonts/Inter/inter-v1-latin-300.woff') format('woff'), /* Modern Browsers */
  url('~src/assets/fonts/Inter/inter-v1-latin-300.ttf') format('truetype'), /* Safari, Android, iOS */
  url('~src/assets/fonts/Inter/inter-v1-latin-300.svg#Inter') format('svg'); /* Legacy iOS */
}
/* inter-regular - latin */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  src: url('~src/assets/fonts/Inter/inter-v1-latin-regular.eot'); /* IE9 Compat Modes */
  src: local(''),
  url('~src/assets/fonts/Inter/inter-v1-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('~src/assets/fonts/Inter/inter-v1-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
  url('~src/assets/fonts/Inter/inter-v1-latin-regular.woff') format('woff'), /* Modern Browsers */
  url('~src/assets/fonts/Inter/inter-v1-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
  url('~src/assets/fonts/Inter/inter-v1-latin-regular.svg#Inter') format('svg'); /* Legacy iOS */
}
/* inter-500 - latin */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  src: url('~src/assets/fonts/Inter/inter-v1-latin-500.eot'); /* IE9 Compat Modes */
  src: local(''),
  url('~src/assets/fonts/Inter/inter-v1-latin-500.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('~src/assets/fonts/Inter/inter-v1-latin-500.woff2') format('woff2'), /* Super Modern Browsers */
  url('~src/assets/fonts/Inter/inter-v1-latin-500.woff') format('woff'), /* Modern Browsers */
  url('~src/assets/fonts/Inter/inter-v1-latin-500.ttf') format('truetype'), /* Safari, Android, iOS */
  url('~src/assets/fonts/Inter/inter-v1-latin-500.svg#Inter') format('svg'); /* Legacy iOS */
}
/* inter-600 - latin */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  src: url('~src/assets/fonts/Inter/inter-v1-latin-600.eot'); /* IE9 Compat Modes */
  src: local(''),
  url('~src/assets/fonts/Inter/inter-v1-latin-600.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('~src/assets/fonts/Inter/inter-v1-latin-600.woff2') format('woff2'), /* Super Modern Browsers */
  url('~src/assets/fonts/Inter/inter-v1-latin-600.woff') format('woff'), /* Modern Browsers */
  url('~src/assets/fonts/Inter/inter-v1-latin-600.ttf') format('truetype'), /* Safari, Android, iOS */
  url('~src/assets/fonts/Inter/inter-v1-latin-600.svg#Inter') format('svg'); /* Legacy iOS */
}
/* inter-700 - latin */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  src: url('~src/assets/fonts/Inter/inter-v1-latin-700.eot'); /* IE9 Compat Modes */
  src: local(''),
  url('~src/assets/fonts/Inter/inter-v1-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('~src/assets/fonts/Inter/inter-v1-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
  url('~src/assets/fonts/Inter/inter-v1-latin-700.woff') format('woff'), /* Modern Browsers */
  url('~src/assets/fonts/Inter/inter-v1-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
  url('~src/assets/fonts/Inter/inter-v1-latin-700.svg#Inter') format('svg'); /* Legacy iOS */
}
/* inter-800 - latin */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 800;
  src: url('~src/assets/fonts/Inter/inter-v1-latin-800.eot'); /* IE9 Compat Modes */
  src: local(''),
  url('~src/assets/fonts/Inter/inter-v1-latin-800.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('~src/assets/fonts/Inter/inter-v1-latin-800.woff2') format('woff2'), /* Super Modern Browsers */
  url('~src/assets/fonts/Inter/inter-v1-latin-800.woff') format('woff'), /* Modern Browsers */
  url('~src/assets/fonts/Inter/inter-v1-latin-800.ttf') format('truetype'), /* Safari, Android, iOS */
  url('~src/assets/fonts/Inter/inter-v1-latin-800.svg#Inter') format('svg'); /* Legacy iOS */
}
/* inter-900 - latin */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 900;
  src: url('~src/assets/fonts/Inter/inter-v1-latin-900.eot'); /* IE9 Compat Modes */
  src: local(''),
  url('~src/assets/fonts/Inter/inter-v1-latin-900.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('~src/assets/fonts/Inter/inter-v1-latin-900.woff2') format('woff2'), /* Super Modern Browsers */
  url('~src/assets/fonts/Inter/inter-v1-latin-900.woff') format('woff'), /* Modern Browsers */
  url('~src/assets/fonts/Inter/inter-v1-latin-900.ttf') format('truetype'), /* Safari, Android, iOS */
  url('~src/assets/fonts/Inter/inter-v1-latin-900.svg#Inter') format('svg'); /* Legacy iOS */
}

// ico moon
@font-face {
  font-family: 'icomoon';
  src:  url('~src/assets/fonts/Icomoon/icomoon.eot?hdvf78');
  src:  url('~src/assets/fonts/Icomoon/icomoon.eot?hdvf78#iefix') format('embedded-opentype'),
  url('~src/assets/fonts/Icomoon/icomoon.ttf?hdvf78') format('truetype'),
  url('~src/assets/fonts/Icomoon/icomoon.woff?hdvf78') format('woff'),
  url('~src/assets/fonts/Icomoon/icomoon.svg?hdvf78#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-more:before {
  content: "\e903";
}
.icon-angle-right:before {
  content: "\e902";
}
.icon-github:before {
  content: "\e901";
}
.icon-shutdown:before {
  content: "\e900";
}
.icon-key:before {
  content: "\e933";
}
.icon-link:before {
  content: "\e934";
}
.icon-angle-down:before {
  content: "\e935";
}
.icon-brightness:before {
  content: "\e937";
}
.icon-multiplied:before {
  content: "\e938";
}
.icon-question-circle:before {
  content: "\e939";
}
