@import 'src/styles/colors';

:local(.title) {
  font-size: 24px;
  font-weight: bold;
  color: $black;
}

:local(.link) {
  font-size: 18px;
  color: $battleship-grey;
  text-decoration: none !important;
}

:local(.link):hover {
  color: $battleship-grey;
}
