@import 'src/styles/vars';
@import 'src/styles/colors';

:local(.options) {
  background: $pale-grey;
  padding: 19px 24px;
  position: absolute;
  width: 100%;
  bottom: 0;
}

:local(.link) {
  display: block;
  padding-top: 14px;
  padding-bottom: 14px;
  text-decoration: none !important;
  font-size: 16px;
  color: $black;
}

:local(.link):hover {
  color: $black;
}

:local(.box) {
  padding: 28px 8px 9px 24px;
}

:local(.close) {
  font-size: 22px !important;
  color: $light-grey-blue !important;
  margin-bottom: 14px;
}

:local(.crypto) {
  padding-top: 14px;
  padding-bottom: 14px;
}

:local(.logo) {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

:local(.item-box) {
  display: flex;
  flex-direction: column;
}

:local(.name) {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  margin-bottom: 2px;
}

:local(.more) {
  font-size: 14px;
  line-height: 1.29;
  color: $battleship-grey;
  margin-bottom: 0;
}

:local(.count) {
  color: $vibrant-blue;
  font-weight: bold;
  font-size: 18px;
  line-height: 1.44;
  margin-right: 10px;
  margin-bottom: 0;
}

:local(.scroll) {
  max-height: 526px;
}
